/*STYLING FOR OWENS PORTFOLIO*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*Owen Nav Bar Styling*/
header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    transition: transform 0.3s;
}
nav a:hover {
    background-color: #575757;
    transform: scale(1.1);
}
/*Owen Nav Bar Styling Ending*/

.container {
    padding: 20px;
    background-color: black;
    color: white;
}
.section {
    margin-bottom: 40px;
    
}

.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

/*Owen About Me (Introduction) Section*/

.about {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto 20px;
}

.aboutMeIMG {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.aboutMeIMG:hover {
    transform: scale(1.1);
}


.sideBySide {
    display: flex;
    align-items: center;
}

.sideBySide img {
    margin-right: 20px; 
}

.sideBySide p {
    margin: 0;
}

/*End of Owen About Me (Introduction) Section*/

/*Owen Resume Styling Section*/ 
.resume{
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto 20px;

}
.resume-paper {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4), 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    max-width: 1200px;
    color: black;
    border-radius: 10px;
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resume-paper:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6), 0 4px 10px rgba(0, 0, 0, 0.4);
}


.resume-paper .contact-info {
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin-top: 20px; 
}

.resume-paper .contact-item {
    color: black; 
    font-size: 12px; 
    display: flex;
    align-items: center;
    gap: 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.resume-paper .contact-item i {
    font-size: 12px; 
    
}
.resume-paper h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom:0px;
}

.resume-paper h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

 .resume-heading {
    border-bottom: 2px solid #333;
}

.resume-paper h4 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.four-column-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 10px; 
    
    
}


/*End of Owen Resume Styling Section*/


/*Owen Project Styling Section*/ 
.projects{
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto 20px;

}
.project {
    margin-bottom: 20px;
}
.photos img {
    max-width: 150px; 
    margin-right: 10px;
}

.tictactoe img {
    max-width: 300px; 
    margin-right: 10px;
}
/*End of Owen Project Styling Section*/

/*Owen Contact Styling Section*/ 
.contact{
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto 20px;

}
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    color:white;
}

.contact-icons a {
    color: white; 
    font-size: 24px; 
    transition: color 0.3s, transform 0.3s;
}

.contact-icons a:hover {
    color: #007bff; 
    transform: scale(1.2);
}


/*End of Owen Contact Styling Section*/
